PULSE_SLACK_WEBHOOK_URL=
PULSE_SLACK_SEND=false

PULSE_SITES=https://www.bitstarz.com,https://cashy.com
PULSE_GAMES=limbo-originals,plinko-originals,dice-originals,mines-originals,blackjack-originals,slot,keno,chick-n-run,crash,tower,roulette,wheel-originals,diamonds,ra-ra-riches,coin-flip

PULSE_TIMEOUT_MS=45000
PULSE_HEADLESS=true
